.question-image {
  max-height: 60vh;
  pointer-events: none;
}

.question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.answer-input {
  border-radius: 5px;
  border: #000 2px solid;
  font-size: 18px;
  width: 16em;
}

.answer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-button {
  border-radius: 8px;
  margin-top: 10px;
  width: 16em;
  font-size: 18px;
  background-color: #1D1C0A;
  color: #FFF;
  padding: 10px;
  cursor: pointer;
}

.feedback-danger {
  text-align: center;
  background: #ffcccc;
  padding: 20px;
}
